body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

/* الرأس */
.header {
  background-color: #0d6efd;
  color: white;
  text-align: center;
  padding: 20px;
}

/* ----- Flexbox ----- */
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.flex-item {
  background-color: #0dcaf0;
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  font-weight: bold;
}

/* ----- Grid ----- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.grid-item {
  background-color: #198754;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

/* ----- Position & Z-index ----- */
.position-example {
  position: relative;
  height: 200px;
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.box1 {
  background-color: red;
  top: 30px;
  left: 30px;
  z-index: 1;
}

.box2 {
  background-color: blue;
  top: 50px;
  left: 60px;
  z-index: 2; /* فوق Box1 */
}

.box3 {
  background-color: green;
  top: 70px;
  left: 90px;
  z-index: 3; /* فوق الكل */
}

/* ----- Footer ----- */
.footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 15px;
}
i{
  color: #f5f5f5;
  font-size: 30px;
  margin: 10px;
}
/* ----- Responsive (Media Query) ----- */
@media (max-width: 400px) {
  .flex-container {
    flex-direction: column;
    gap: 10px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .box {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  .header h1 {
    font-size:18px;
}
}